.WeekCalendar {
  --themePrimaryColor: #5E5E6B;
  --unavailableColor: #E6E6E6;
  --availableColor: #FFFFFF;
  --bookedColor: darkorange;
  --backgroundColor: #FFFFFF;
  --hoursWidth: 60px;
  --dayWidth: 120px;

  display: flex;
  flex-direction: column;
  /* Prefered width, extra 2px to account for borders */
  width: calc(7 * var(--dayWidth) + var(--hoursWidth) + 2px);
  max-width: 100%;
  background-color: var(--backgroundColor);
  border: 1px solid var(--themePrimaryColor);
}

.Title {
  font-size: 15px;
  font-weight: bold;
  padding: 16px 24px;
  color: var(--backgroundColor);
  background-color: var(--themePrimaryColor);
  text-align: center;
}

.Columns {
  flex: 1 1;
  display: flex;
  flex-direction: row;
}

.HourList {
  width: var(--hoursWidth);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--themePrimaryColor);
}

.Days {
  flex: 1 1;
  display: flex;
  flex-direction: row;
  min-width: var(--dayWidth);
  overflow: auto;
}

.Day {
  flex: 1 1;
  min-width: var(--dayWidth);
  border-left: 1px solid var(--themePrimaryColor);
}

.Day:first-child {
  border-left: none;
}

.HourHeader,
.Hour,
.DayName,
.DaySegment {
  height: 40px;
  padding: 8px 16px;
}

.Hour {
  font-size: 14px;
  border-top: 1px solid var(--themePrimaryColor);
}

.HourHeader + .Hour {
  border-top: none;
}

.DayName {
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid var(--themePrimaryColor);
}

.DaySegment {
  width: 100%;
  cursor: not-allowed;
}

.Available {
  border-bottom: 1px solid var(--unavailableColor);
  background-color: var(--availableColor);
  cursor: pointer;
}

.NotWorking {
  background-color: var(--unavailableColor);
}

.OnBreak {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    var(--unavailableColor) 10px,
    var(--unavailableColor) 20px
  );
}

.ReservedByUser {
  background-color: var(--bookedColor);
}

.ReservedByOther {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    var(--bookedColor) 10px,
    var(--bookedColor) 20px
  );
}
